* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: rgb(235, 234, 234);
}

.flex {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.main {
  justify-content: space-evenly;
}

.recentScr {
  margin: 15px;
  width: 35%;
}

.addScr {
  margin: 12px 15px;
  height: 240px;
}

.listScr {
  list-style: none;
  border: 5px rgb(182, 175, 175) solid;
  margin: 12px 5px;
}

.listScr li {
  margin: 1px;
}

.listScr li:hover {
  background: whitesmoke;
}

.textHd h2 {
  margin: 20px 150px;
}

.sectionScr {
  justify-content: space-between;
}

input {
  margin: 15px 2px
}

.buttonSubmit {
  width: 50%;
}

.main {
  background-image: url(https://user-images.githubusercontent.com/74747182/131906392-8ac0f7ae-0c5a-4b52-84c3-f97a7880c8c7.png);
  background-repeat: no-repeat;
  background-size: 236px;
  background-position: bottom right 487px;
}

.scroll {
overflow: scroll;
height: 450px;
}